<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header><% include ../partials/header %></header>

        <main>
            <h3>My favorites TV shows</h3>
            <ul>
                <!-- dynamically pulled list of shows that are passed in from the router. -->
                <li><%= show1 %></li>
                <li><%= show2 %></li>
                <li><%= show3 %></li>
                <li><%= show4 %></li>
            </ul>
        </main>
        <footer><% include ../partials/footer %></footer>
    </body>
</html>
